.cardPregunta {
    position: relative;
    /* display: flex; */
    padding: 20px 10px 25px;
    /* flex-direction: column; */
    background-color: #ffffffbf;
    /* background-clip: border-box; */
    border: 1px solid rgb(0 0 0 / 82%);
    border-radius: 1.25rem;
    /* flex-wrap: wrap; */
    justify-content: center;
}


.figura{

    border-radius: 50px;
    background-color: #2dabdbc7;
    position: fixed;
    justify-content: center;
}

.preguntaletra{

    font-size: 2.8rem !important;
    font-family: math;
    color: #000000;
    text-align: center;
}

.columnMiaP {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 2.5rem;
}

.columnMia {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1.8rem;
}

.cardTablaU {   
    padding: 2.5rem; 
}

.negrillaP{
    font-weight: 600;
}